<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd
   https://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd">
     <!-- services -->

<!-- 1 Value -->
<bean class="com.springcore.Student" name="student1">
<property name="studentId"><value> 54123</value></property>
<property name="studentName"><value> Sourav Adak</value></property>
<property name="studentAdderss"><value> Panposh basti</value></property>
</bean>

<!-- 2 Value as attribute -->
<bean class="com.springcore.Student" name="student2">
<property name="studentId" value="54654" />
<property name="studentName"  value=" Adhish Babuta" />
<property name="studentAdderss"  value="Udit Nagar" />
</bean>

<!--  3 P schema -->
<bean class="com.springcore.Student" name="student3" p:studentId="54153" p:studentName="Sagar Rout" p:studentAdderss="Chhend" />

</beans>
